{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{% include 'snippets/styles.html' %}
</head>
<body>
{% load static %}

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" id="myNav">

    <a class="navbar-brand" href="#">
        <!-- <img style="height:30px "src="{% static "img/logo.png" %}" alt=""> -->
        <h5>Booking Parkir</h5>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></s pan>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          {% block home %}
            <li class="nav-item">
                <a class="nav-link text-light" href="/" title="">Home</a>
            </li>
          {% endblock home %}
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link text-warning">{{ saldo }}</a></li>
            <li class="nav-item"><a class="nav-link btn text-dark btn-warning" href="{% url 'recharge' %}">
              Isi Saldo</a>
            </li>
            <li class="nav-item"><a class="nav-link text-light btn btn-success" data-toggle="modal" data-target="#bookingModal">Booking</a></li>
            <li class="nav-item"><a class="nav-link text-muted">{{ user.get_username }}</a></li>
            <li class="nav-item"><a class="nav-link text-light"href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
            {% else %}
            <li class="nav-item"><a class="nav-link text-light"href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
            <li class="nav-item"><a class="nav-link text-light"href="{% url 'signup'%}?next={{request.path}}">Signup</a></li>
            {% endif %} 
      </ul>
     
    </div>
  </nav>

  
	<div class="jumbotron jumbotron-fluid">
	  <div class="container text-black text-center" style="margin-top: 10px;">
        
        {% block header %}
            
	        <h1 class="display-4">Template</h1>
            <h2 class="lead">Header dan Subheader</h2>

        {% endblock header %}

	  </div>
	</div>

<!-- The Modal -->
<div class="modal" id="bookingModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Silahkan Booking</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container" style="width: 100%">
          <form method="POST">
            <div class="form-group">
              <label for="form-booking-place">Booking Place :</label>
              <select class="custom-select" name="booking_place">
                <option selected>Select Booking Place</option>
                <option value="Book A1">A1</option>
                <option value="Book A2">A2</option>
                <option value="Book A3">A3</option>
              </select>
              <label for="form-booking-place">Tanggal Booking :</label>
              <input type="text" class="form-control" id="datetimepicker1" name="tanggal_booking" value=''>
            </div>
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Book</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
{% comment %} 
      <!-- Modal footer -->
      <div class="modal-footer">
      </div> {% endcomment %}

    </div>
  </div>
</div>


	<div class="container-fluid">
		<div class="container bg-white text-dark shadow "
		id="myBody" >
                
            {% block content %}
                <div class="row" style="height:500px;">
				    <h1>content1</h1>
			    </div>
            {% endblock content %}
                    
		</div>

	</div>
	
	{% include 'snippets/Scripts.html' %}
    <script>
    $.datetimepicker.setDateFormatter("moment");
    $(function () {
      $("#datetimepicker1").datetimepicker({
        timepicker: true,
        datetimepicker: true,
        format: "YYYY-MM-DD HH:mm",
        step: 5,
        yearStart: 2019,
        yearEnd: 2025,
        // theme: 'dark',
        });
    });
  </script>
{% block js %}
{% endblock js %}

</body>

{% block footer%}

{% endblock footer%}
</html>