{% extends 'base.html' %}


{% block header %}
<h1 class="display-4">{{heading}}</h1>
<p class="lead">{{subheading}}</p>
{% endblock header %}
<script>
	var URL ="{% url 'update_time' %}"
</script>
{% block content %}
<div class="container-fluid">
	<div class="row">
		<h1 style="margin-bottom: 50px;">Tempat Parkir:</h1>
	</div>
	<div class="row">
	
	{% for obj in parkir_objek %}
		
 	<div class="col-md-3">
			<h2 style="margin-left: 70px">{{obj.booking_place|slice:"5:7"}}</h2>
			{% if obj.book_status == False %}

				<img src="{{ icon }}" alt="No 1" style="height:200px;width:150px">

			{% else %}
				<img src="{{ icon_x }}" alt="No 1" style="height:200px;width:150px">

			{% endif %}
			
			<br>
			
			{% if obj.book_status == False %}
			<form method="POST">
			{% csrf_token %}	
				<input type="submit" class="btn btn-primary" style="margin-left:35px" name="booking_place" value="{{obj.booking_place}}">
			</form>

			{% else %}
				<div class='text-muted'>Sudah dibooking</div>
			{% endif %}
			</div>
	{% endfor %}
		
{% comment %} 
		<div class="col-md-3">
				<h2 style="margin-left: 70px">A2</h2>
				{% if A2.book_status == False %}

					<img src="{{ icon }}" alt="No 1" style="height:200px;width:150px">

				{% else %}
					<img src="{{ icon_x }}" alt="No 1" style="height:200px;width:150px">

				{% endif %}
				<br>
			{% if A2.book_status == False %}
			<form method="POST">
			{% csrf_token %}	
				<input type="submit" class="btn btn-primary" style="margin-left:35px" name="booking_place" value="Book A2">
			</form>
			{% else %}
				<div class='text-muted'>Sudah dibooking</div>
			{% endif %}
			
		</div>
			
		<div class="col-md-3">
				<h2 style="margin-left: 70px">A3 </h2>
				{% if A3.book_status == False %}

					<img src="{{ icon }}" alt="No 1" style="height:200px;width:150px">

				{% else %}
					<img src="{{ icon_x }}" alt="No 1" style="height:200px;width:150px">

				{% endif %}
			<br>
			{% if A3.book_status == False %}
			<form method="POST">
			{% csrf_token %}	
				<input type="submit" class="btn btn-primary" style="margin-left:35px" name="booking_place" value="Book A3">
			</form>
			{% else %}
				<div class='text-muted'>Sudah dibooking</div>
			{% endif %}
		</div> {% endcomment %}
	</div>
</div>

{% endblock content %}


{% block footer%}

<footer class="footer" style="margin-top: 50px;">
		<div class="container">
			<p class="text-muted">Situs ini di develop menggunakan Django-Framework.</p>
		</div>
</footer>
{% endblock footer%}